In [40]:
import pandas as pd
import numpy as np
import utils

pd.set_option('display.max_rows', 500)

In [28]:
mdf = pd.read_csv('M_athlete_results.csv')
fdf = pd.read_csv('F_athlete_results.csv')

C:\ProgramData\Miniconda3\lib\site-packages\IPython\core\interactiveshell.py:2714: DtypeWarning: Columns (3,5) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [29]:
csm = mdf.loc[(mdf['School'] == 'COLORADO MINES') & (mdf['Season'] == 'Outdoor') & (mdf['Event'] == '5000')]

In [30]:
xcnats = mdf.loc[mdf['Meet_Name'] == 'NCAA Division II Cross Country Championships'].sort_values(['Place', 'Mark'])

In [47]:
xcnats['Time'] = [Time(m) if (e in utils.event_classification()['Track'] and not (m == 'dnf' or m == 'DNF')) else None for e, m in zip(xcnats['Event'], xcnats['Mark'])]

In [54]:
xcnats.groupby('Name').mean().sort_values(['Place', 'Time'])

                 Athlete ID    Year  Place     Time
Name
EZRA MUTAI        7403854.0  2019.0    1.0  1771.20
TABOR STEVENS     3256448.0  2013.0    1.0  1790.10
VINCENT KIPROP    5488472.0  2015.5    1.5  1760.55
ALFRED CHELANGA   5486058.0  2015.5    1.5  1770.45
VEGARD OLSTAD     4078538.0  2013.0    2.0  1801.70
...                     ...     ...    ...      ...
JETT HALL         6872233.0  2019.0  261.0  2165.80
EAN ORMSBY        6422377.0  2018.0  261.0  2299.10
WYATT SCHLAGER    7395289.0  2019.0  262.0  2169.80
EMERIC ARNAUD     7044417.0  2019.0    NaN      NaN
EVAN DEL RIO      6869955.0  2019.0    NaN      NaN

[1067 rows x 4 columns]